@using RentAPlace.Data.Models
@model RentAPlace.Web.ViewModels.RealEstates.AllRealEstatesListViewModel;
@{
    ViewData["Title"] = "All Real Estates, page " + Model.PageNumber;
}
<h1>@this.ViewData["Title"]</h1>
<div class="row">
    @foreach (var realEstate in Model.RealEstates)
    {
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="@realEstate.ImageUrl" alt="@realEstate.RealEstateTypeName">
            <div class="card-body">
                <h5 class="card-title">Real estate type: @realEstate.RealEstateTypeName</h5>
                <p class="card-text">District: @realEstate.DistrictName</p>
                <p class="card-text">Rent: @realEstate.Rent лв</p>
                <a asp-action="ById" asp-route-id="@realEstate.RealEstateId" class="btn btn-primary">Details</a>
            </div>
        </div>
    }
</div>
<partial name="_PagingPartial" model="@Model" />
