@model RentAPlace.Web.ViewModels.Users.AllUsersListViewModel;
@{
    ViewData["Title"] = "Manage users";
}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th>Role</th>
        <th scope="col">Change role</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.AllUsers)
        {
            <tr>
                <th scope="row">@user.Id</th>
                <td>@user.Name</td>
                <td>
                    @String.Join(",", user.RolesNames)
                </td>
                <td><a class="btn-light" asp-controller="Users" asp-action="PromoteById" asp-route-id="@user.Id">Promote</a></td>
            </tr>
        }
    </tbody>
</table>
<partial name="_PagingPartial" model="@Model" />
